div.app-header {
  display: flex;
  flex-direction: row;
}

div.app-header-links {
  flex-grow: 2;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

div.app-header-links button {
  border: none;
  border-bottom: 1px dashed #5C666F;
  background-color: transparent;
  font-size: 14px;
  color: #5C666F;
  line-height: 28px;
  margin-left: 15px;
  cursor: pointer;
}
