table.contacts-table {
  width: 100%;
  border-collapse: collapse;
  line-height: 40px;
  text-align: center;
}

table.contacts-table th {
  background-color: #ddd;
  border: 1px solid #ddd;
}

table.contacts-table td {
  border-bottom: 1px solid #ddd;
}

table.contacts-table td:first-child {
  border-left: 1px solid #ddd;
}

table.contacts-table td:last-child {
  border-right: 1px solid #ddd;
}

